<html>
    <head>
        <title>ConTeam</title>
        <style type="text/css">
            body {
                background-color: #B4DAF7;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            body > .grid {
                height: 100%;
            }
            .column {
                max-width: 450px;
            }
        </style>
        <script>
            $(document).ready(function() {
                $('.ui.form').form({
                    fields: {
                        email: {
                            identifier  : 'email',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Por favor, insira seu e-mail'
                                },
                                {
                                    type   : 'email',
                                    prompt : 'Por favor, insira um e-mail válido'
                                }
                            ]
                        },
                        password: {
                            identifier  : 'password',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Por favor, insira sua senha'
                                },
                                {
                                    type   : 'length[6]',
                                    prompt : 'Sua senha deve ter no mínimo 6 caracteres'
                                }
                            ]
                        }
                    }
                });
                $("#form").submit(function(e) {
                    e.preventDefault();
                    
                    var filter = {
                        email: $('input[name=email]').val(),
                        password: $('input[name=password]').val()

                    }

                    console.log(filter);
                
                    $.post( "http://127.0.0.1:5000/auth/login", filter)
                        .done(function( data ) {
                            localStorage['token'] = data.token;
                            localStorage['exp'] = data.exp;
                            window.open('http://127.0.0.1:3000/containers', '_self');
                        }).fail(function(xhr,status,error) {
                            alert('Acesso negado.');
                         });                   
                     });
                });
        </script>
    </head>
    <body>
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui blue image header">
                    <div class="content">
                        Conecte-se a sua conta
                    </div>
                </h2>
                <form id="form" class="ui large form">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail address">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <input class="ui fluid large blue submit button" type="submit" value="Login">
                    </div>

                    <div class="ui error message"></div>

                </form>

                <div class="ui message">
                    Novo por aqui? <a href="/containers/cadastro">Cadastre-se</a>
                </div>
            </div>
        </div>
    </body>
</html>