<html>
    <head>
        <title>ConTeam</title>
        <style type="text/css">
            body {
                background-color: #B4DAF7;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        </style>
    </head>
    <body>
        <center><h1>Conecte-se a sua conta</h1></center>
        <form action="http://127.0.0.1:5000/auth/login" method="post">
            <center>E-mail:<br>
            <input type="text" name="email"><br></center>
            <center>Senha:<br>
            <input type="text" name="password"><br></center>
            <center><input type="submit" value="Login"></center>
        </form>

      <center><p>Novo por aqui?</p><a href="/containers/cadastro">Cadastre-se</a></center>
    </body>
</html>