<HTML>
    <head>
        <title>ConTeam</title>
        <style type="text/css">
            body {
                background-color: #B4DAF7;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        </style>
    </head>
    <body>
        <center><h1>Criar container:</h1></center>

        <%= form_tag '/containers', method: :post do %>
            
    <center><label>Nome:</label>
    <input name="name" /></center>
    <center><label>Imagem:</label>
        <input name="image" /></center>
    <center><button>Salvar</button></center>
    <center><a href="/containers">Voltar</a></center>     
        <% end %>
    </body>
</html>
