<h1>New</h1>

<%= form_tag '/containers', method: :post do %>

    <label>Nome:</label>
    <input name="name" />
    <label>Imagem:</label>
    <input name="image" />
    <button>Salvar</button>

<% end %>